/*===============================================
|  1) Layout - Menu Bar, Header, Content , Footer
|  2) Typography - Headings, Paragraph, Anchors
|  3) UI - Colors, Buttons, Icons, Cards, Profile Imgs
================================================*/

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

body{
	font-family: "Source Sans Pro", sans-serif;
	background: #f1f6f7;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*======= 1) LAYOUT ==========*/

.menubar{
	position: fixed;
	width:90px;
	height:100%;
	background: #2c3136;
	border-right:2px solid #1f2326;
}

.menubar--Logo{
	background: #3e454c;
	width: 90px;
	height: 70px;
	border-bottom:2px solid #1f2326;
	line-height: 70px;
	padding:0 24px;
}

.menubar--Nav ul{
	list-style: none;
	padding: 0;
}

.menubar--Nav ul li{
	padding: 20px 32px;
}

.menubar--Nav ul li:first-child{
	padding-top: 25px;
}

.menubar--Nav ul li:hover{
	opacity: .25;
	transition: .5s;
}

.page{
	position: relative;
	padding-left:90px;
}

.header{
	position: relative;
	height: 70px;
	border-bottom: 1px solid #c6ccd1;
	line-height: 70px;
	background: #ffffff;
}

.header--Search{
	position: relative;
	height: 70px;
	padding:0;
}

.header--Search__Input{
	height: 67px;
	width:393px;
	border:none;
	border-right:1px solid #dbdee3;
	outline:none;
	padding:0 100px 0 52px;
}

.header--Search__Input:hover{
	background: #f9f9f9;
	transition: .5s;
}

.header--Search img{
	position: absolute;
	left:22px;
	top:29px;
}

.header--Search__Dropdown{
	position: absolute;
	height:26px;
	line-height: 20px;
	padding: 0 15px;
	top:25px;
	right:50px;
	background: #37c8ab;
	border-bottom: 2px solid #2da18a;
	font-size:12px;
}

.header--Search__Dropdown .caret{
	margin-left:5px;
}


.header--Search__Input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b4c3c8;
  font-size:16px;
}
.header--Search__Input::-moz-placeholder { /* Firefox 19+ */
  color: #b4c3c8;
  font-size:16px;
}
.header--Search__Input:-ms-input-placeholder { /* IE 10+ */
  color: #b4c3c8;
  font-size:16px;
}
.header--Search__Input:-moz-placeholder { /* Firefox 18- */
  color: #b4c3c8;
  font-size:16px;
}

.header--Interface ul{
	float: right;
	list-style: none;
}

.header--Interface ul li{
	display: inline;
	padding:0 9px;
}

.header--Interface ul li:hover{
cursor: pointer;
}

.content{
	padding: 0;
	background: #f1f6f7;
}

.content--ApplicantField{
	background: #1b212d;
	padding: 0 0 40px;
   -moz-box-shadow:    inset 0 15px 15px #0f1219;
   -webkit-box-shadow: inset 0 15px 15px #0f1219;
   box-shadow:         inset 0 15px 15px #0f1219;
}

.content--ApplicantField .content--Heading h2{
	color: #ffffff;
}

.content--Heading{
	margin-top:30px;
	padding:0 65px;

}

.content h2, .content h4{
	color: #51838d;
}

.nextResult{
	position: absolute;
	right:0;
	top:0;
	width:50px;
	height:100%;
	position: absolute;
	background: #252e3e;
	cursor:pointer;
}

.nextResult:hover{
	background: #2e394c;
}


.card--CandidateCard--Candidate{
	width: 260px;
	margin-top: 20px;
	background: #ffffff;
	overflow:hidden;
}

.candidate--Img{
	position: relative;
	float: left;
	padding:7px 10px;
	width: 35%;
}

.candidate--Img img{
	width: 80px;
	border:4px solid #e6e6e6;
}

.candidate--Info{
	position: relative;
	float: left;
	padding:10px 10px;
	width: 55%;
}

.candidate--Info h4{
	font-weight: 600;
	font-size:16px;
	white-space: nowrap;
  	overflow: hidden;
	text-overflow: ellipsis;
}

.candidate--Info p{
	padding: 5px 0 0;
	white-space: nowrap;
  	overflow: hidden;
	text-overflow: ellipsis;
}



.candidate--Footer{
	position: relative;
	float: left;
	width: 100%;
	height: 42px;
	line-height: 42px;
	background: #dbdee3;
	border-top:1px solid #93a7ac;
	margin-top:10px;
	background-image: url("/assets/imgs/starsBG.png");
	background-repeat: no-repeat;
	background-position: center;

}


.starsFill{
    position: absolute;
    left: 85px;
    top: -3px;
    overflow:hidden;
}

.candidate--Img img.approved{
	border-color:#37c837;
}

.candidate--Img img.declined{
	border-color:#ff2a2a;
}

.content--ComparisonField{
	position: relative;
	overflow:hidden;
	width:100%;
	padding: 0;
}

.content--ComparisonField h2, .content--ComparisonField h4{
	float: left;
	line-height: 30px;
}

.content--ComparisonField h4{
	padding-left: 20px;
}

.splitView{
	position: relative;
	margin-top:30px;
	width: 100%;
	height:500px;
	border: 4px dashed #a9c3e7;
	border-radius: 5px;
	background: url("/assets/imgs/dragIcon.png") no-repeat;
	background-position: center 40px;
}

/*======= 2) TYPOGRAPHY ==========*/
/* 
|  font-family: 'Source Sans Pro', sans-serif;
|  font-weight: 400, 600, 700;
*/

h1, h2, h3, h4{
	margin:0;
	font-weight: 400;
}
h2{
	font-size:26px;
}

p{
	margin:0;
}

/*======= 3) UI ==========*/

.btn{
	border-radius: 5px;
	font-weight: 600;
	outline: none;
	color: #ffffff;
}

.btn:hover, .btn:active{
	color: #ffffff;
	text-decoration: none;
	outline: none;
}



a, a:hover, a:active, a:visited{
	text-decoration: none;
	cursor: pointer;
}

.btnColor1{
	background: #0fc469;
	border-bottom: 2px solid #0da95c;
}

a{
color:#1784c7;
}

.caret-right {
	position: absolute;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid #ffffff;
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
    top:50%;
    left:45%;
}


