/*===============================================
|  1) Layout - Menu Bar, Header, Content , Footer
|  2) Typography - Headings, Paragraph, Anchors
|  3) UI - Colors, Buttons, Icons, Cards, Profile Imgs
================================================*/

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700');

body{
	font-family: "Source Sans Pro", sans-serif;
	background: #f1f6f7;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrap{
	width:1128px;
	margin:auto;
}

/*======= 1) LAYOUT ==========*/

.menubar{
	position: fixed;
	width:90px;
	height:100%;
	background: #1c1c24;
	border-right:2px solid #1f2326;
	z-index:2;
}

.menubar--Logo{
	background: #0066ff;
	width: 90px;
	height: 70px;
	border-bottom:2px solid #1f2326;
	line-height: 70px;
	padding:0 24px;
}

.menubar--Nav ul{
	list-style: none;
	padding: 0;
}

.menubar--Nav ul li{
	padding: 20px 32px;
}

.menubar--Nav ul li:first-child{
	padding-top: 25px;
}

.menubar--Nav ul li:hover{
	opacity: .25;
	transition: .5s;
}

.page{
	position: relative;
	margin-left:90px;
}

.header{
	position: relative;
	height: 300px;
	border-bottom: 1px solid #c6ccd1;
	line-height: 60px;
	background: #ffffff;
	background-image: url("../imgs/headerBG.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.header--Search{
	position: absolute;
	left:calc(50% - 294px);
	bottom:-35px;
	height: 70px;
	padding:0;
	font-size:16px;
	width:588px;
	background: #ffffff;
	border-radius:5px;
	z-index:2;
   -moz-box-shadow:     0 5px 8px #b7d1d6;
   -webkit-box-shadow:  0 5px 8px #b7d1d6;
    box-shadow:          0 8px 8px #b7d1d6;
}

.header--Search__Input{
	float:left;
	height: 70px;
	border:none;
	outline:none;
	padding:0 20px 0 52px;
	border-radius: 5px;
	color:#819aa3;
}

.header--Search__Input:hover{
	background: #f9f9f9;
	transition: .5s;
}

.header--Search img#searchImg{
	position: absolute;
	left:22px;
	top:29px;
}

.header--Search img#locationSearchImg{
	position: absolute;
	left:324px;
	top:29px;
}

#bizSearch{
border-right:1px solid #dbdee3;	
width:50%;
}

#locationSearch{
	position: relative;
	width:50%;
}

.header--Search__Input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b4c3c8;
  font-size:16px;
}
.header--Search__Input::-moz-placeholder { /* Firefox 19+ */
  color: #b4c3c8;
  font-size:16px;
}
.header--Search__Input:-ms-input-placeholder { /* IE 10+ */
  color: #b4c3c8;
  font-size:16px;
}
.header--Search__Input:-moz-placeholder { /* Firefox 18- */
  color: #b4c3c8;
  font-size:16px;
}

.header--Interface ul{
	float: right;
	list-style: none;
}

.header--Interface ul li{
	display: inline;
	padding:0 9px;
}

.header--Interface ul li:hover{
cursor: pointer;
}


.header--Hero{
	position: relative;
	float: left;
	width: 100%;
	text-align:center;
	color: #ffffff;
}

.header--Hero h1, .header--Hero h4{
	font-weight: 200;
	line-height: 1.2em;
}

.header--Hero h4{
	margin-top:30px;
}

.content{
	padding:0 0 65px;
	background: #f1f6f7;
}

.content--Heading{
	margin:110px 70px 0;
}


.content h2, .content h3{
	color: #51838d;
}

.card--Result{
	position: relative;
	float: left;
	width: 325px;
	height: 328px;
	background: #ffffff;
	margin:45px 0 0 70px;
   -moz-box-shadow:     0 5px 8px #b7d1d6;
   -webkit-box-shadow:  0 5px 8px #b7d1d6;
    box-shadow:          0 8px 8px #b7d1d6;
}

.card--Result__Img{
	width: 100%;
	height: 222px;
	background: #666;
}

.card--Result__Info{
	padding:20px 10px;
}

.card--Rating, .card--Location{
	float: left;
	line-height:40px;
	width:50%;
	color:#819aa3;
	font-size:18px;
}

.card--Rating{
	background-image: url("../imgs/starsBG.png");
	background-repeat: no-repeat;
	background-position: left center;
}

.card--Rating__Overlay{
	width: 90px;
	overflow-x:hidden; 
}

.card--Rating__Overlay img{
	position: relative;
	top:-2px;
}

.card--Location p>span{
	position: relative;
	padding-right: 10px;
	top:-2px;
}

.content--ComparisonField{
	position: relative;
	overflow:hidden;
	width:100%;
	padding: 0;
}

.content--ComparisonField h2, .content--ComparisonField h4{
	float: left;
	line-height: 30px;
}

.content--ComparisonField h4{
	padding-left: 20px;
}

.splitView{
	position: relative;
	margin-top:30px;
	width: 100%;
	height:500px;
	border: 4px dashed #a9c3e7;
	border-radius: 5px;
	background: url("../imgs/dragIcon.png") no-repeat;
	background-position: center 40px;
}

/*======= 2) TYPOGRAPHY ==========*/


h1, h2, h3, h4{
	margin:0;
	font-weight: 400;
}
h2{
	font-size:26px;
}

p{
	margin:0;
}

/*======= 3) UI ==========*/

.btn{
	border-radius: 5px;
	font-weight: 600;
	outline: none;
	color: #ffffff;
}

.btn:hover, .btn:active{
	color: #ffffff;
	text-decoration: none;
	outline: none;
}



a, a:hover, a:active, a:visited{
	text-decoration: none;
	cursor: pointer;
}

.btnColor1{
	background: #0fc469;
	border-bottom: 2px solid #0da95c;
}

a{
color:#1784c7;
}

.caret-right {
	position: absolute;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid #ffffff;
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
    top:50%;
    left:45%;
}


